In [83]:
#!pip install selenium

In [84]:
#instalar o Chrome driver

In [85]:
from selenium import webdriver 
from selenium.webdriver.common.keys import Keys
# 1º Pegar a cotação do dólar
##abrir o navegador
navegador = webdriver.Chrome()
## entrar no google 
navegador.get("https://www.google.com.br/")
## pesquisar cotação do dólar no google 
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotacao dolar")

navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

## pegar a cotação
cotacao_dolar = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
                                       
                                       
print(cotacao_dolar)

# 2º Pegar a cotação do euro
navegador.get("https://www.google.com.br/")
##pesquisar cotação do euro 
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")

navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

## pegar a cotação
cotacao_euro = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
                   
print(cotacao_euro)

# 3º Pegar a cotação do ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",",".")                 
print(cotacao_ouro)

navegador.quit()

5.2448999999999995
5.3553999999999995
292.78

In [86]:
# 4º Atualizar a base de dados 
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)


#Selenium permite fazer automações WEB, é possível fazer várias automações ao mesmo tempo.

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [87]:
# 5º Recalcular os preços 
## Atualizar cotações

tabela.loc[tabela["Moeda"]=="Dólar", "Cotação"]= float(cotacao_dolar)
tabela.loc[tabela["Moeda"]=="Euro", "Cotação"]= float(cotacao_euro)
tabela.loc[tabela["Moeda"]=="Ouro", "Cotação"]= float(cotacao_ouro)

## preço de carga = preço original * cotação
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]

## preço de venda = preço de comprar * margem
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]
## tabela["Preço de Venda"] = tabela["Preço de Venda"].map("R${:.2f}".format)


display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.2449,5244.847551,1.40,7342.786571
1,Carro Renault,4500.00,Euro,5.3554,24099.300000,2.00,48198.600000
2,Notebook Dell,899.99,Dólar,5.2449,4720.357551,1.70,8024.607837
3,IPhone,799.00,Dólar,5.2449,4190.675100,1.70,7124.147670
4,Carro Fiat,3000.00,Euro,5.3554,16066.200000,1.90,30525.780000
5,Celular Xiaomi,480.48,Dólar,5.2449,2520.069552,2.00,5040.139104
6,Joia 20g,20.00,Ouro,292.7800,5855.600000,1.15,6733.940000

In [88]:
# 6º Exportar a base de dados 

tabela.to_excel("Produtos Novo.xlsx", index=False)